---
title: "The Value of Play"
created_at: 2013-07-06
featured_image: /images/blog/the_value_of_play/
landscape: true
techs:
  -
description: "Playing stimulates creativity and broadens your knowledge"
keywords: [programming, learning, fun]
---

//TODO Consider the branding of the blog post after you've written it
%h3 Do you realize the enormous value of working on fun, personal projects?

%p
  Having fun is the foundation of my career. Some people hope to enjoy their
  jobs some day. If I didn't enjoy my job and didn't keep going on my own time then I
  never would have entered the profession!
%p
  Lately, I've been mastering the nuances of JavaScript during my off hours.  I've loved
  learning how to make snappy interfaces and pondering the usage of closures.  I love that
  after all that fun I also earn a super valuable skill!
%p
  I've been playing with the language for a long time on a basic level:  Calculating
  styles based on window size, adding a text box counter, creating nifty roll over and
  click events.  This stage of learning was essential for me: I clearly saw that
  JavaScript was not another class-based object-oriented language like Ruby, Java, and
  C++.  I started paying close attention to how others were using the language to
  be effective and expressive.
%p
  Today, I'm playing around with fully client side applications and contributing to
  a JavaScript framework at work.  A long ways from the basic JavaScript that I
  was writing just a year or two ago!
%p
  I love having a job where regularly playing with new things has such a high value!
  Getting paid to have fun??  Who'da thunk!

  Learning JavaScript on a deeper level is the most immediate example that I can find in
  my recent past stemming from personal projects.  As a new web developer I began usign JavaScript for
  specific styling or lite functionality that I couldn't achieve using any other tools (when my
  hand was forced).  The ideas of the language was just too far removed from the class-based object
  oriented architecture of C++, Java, and Ruby but I was intrigued. As I continued to use the language I became more
  confident to try building more complex projects until I was building entire applications using JavaScript.
%p
  This was a big step forward.  Not only in my productivity with the language but also with
  my learning!  I started paying attention to other people's JavaScript code and asking the
  right questions to begin to master the language.  Without the initial exploration, the
  philosophies of the language were too abstract to begin to master.

%h4 Appropriate Play and Balance

%p
  Playing, while helpful as I have described, can also be destructive.  Working on personal
  projects at the wrong time can be an excuse for poor discipline.  This is difficult to assess
  for any of us but do ask yourself before starting a personal project if it is the right time.
  Ideally, with a personal project, you won't interupt professional work and you'll be able to
  devote enough time to the project to reach a certain level of quality (having learned a
  considerable amount of a new language or tool, or fully documenting your new, functioning, open
  source tool).
%p
  I've also found that working on my personal projects can also lead to burnout and that's
  not fun or helpful for anyone.  If you're disciplined about working on professional projects
  and you devote time during nights and weekends to your own project, then you're likely to
  run into a wall at some point.
%p
  So, yes, personal projects are fun and helpful but make sure you're working on them
  with the right motivation and a healthy mindset.  If it's not the right time then
  it's best to let go of the project before you start.
