---
title: "the_value_of_play"
created_at: 2013-07-06
featured_image: /images/blog/the_value_of_play/
landscape: true
techs:
  -
description: "Playing stimulates creativity and broadens your knowledge"
keywords: [programming, learning, fun]
---
TODO: Add content to `content/blog/the_value_of_play.haml`.
