---
title: "The Value of Play"
created_at: 2013-07-12
featured_image: /images/blog/the_value_of_play/
landscape: true
techs:
  -
description: "A playful and curious web developer will maintain their value at work over the long haul by continuously learning new and valuable skills while having fun."
keywords: [programming, learning, fun]
---

//TODO Consider the branding of the blog post after you've written it
%h3 Do you realize the enormous value of working on fun, personal projects?

%p
  Having fun is the foundation of my career. Some people hope to enjoy their
  jobs some day. If I didn't have fun at work and keep exploring web development
  on my own time then I never would have developed the skills to enter the profession!
%p
  Lately, I've been mastering the nuances of JavaScript during my play time.  I've enjoyed
  pondering the unique philosophy of the JavaScript language and learning how to make snappy
  user interfaces.  As an added bonus I've also earned a super valuable skill!
%p
  I've been playing with the language for a long time on a basic level:  Calculating
  styles based on window size, adding a text box counter, creating nifty roll over and
  click events, etc.  This stage of learning was essential for me: I started to get a sense that
  JavaScript was not another class-based object-oriented language like Ruby, Java, and
  C++.  I started paying close attention to how others were using the language to
  be effective and expressive.
%p
  Today, I'm playing around with fully client side applications and contributing to
  a JavaScript framework at work.  A long ways from the basic JavaScript that I
  was writing just a year or two ago!
%p
  I love having a job where regularly playing with new things has such a high value!
  Getting paid to have fun??  Who'da thunk!
