---
title: Hunger Games Trilogy
created_at: 2012-08-30
featured_image: /images/hunger_games_trilogy.png
landscape: false
techs:
  -
description:
  - "The Hunger Games books are a quick and fun read.  The plot and world are well conceived and presented which goes a long way.  Might be considered a classic in a few years."
rating: 3
author: Suzanne Collins
---
=update(:first => true, :date => '2012-08-30', :title => 'Comparing the book with the movie')
%p
  I had to wait a few months after seeing the movie to read the books, to give my memory some time to forget my impressions and
  prepare to be impressed once again.  It was well worth it.  The movie was excellent but the book adds important details to deepen 
  the impact of the shocking tale:  Understanding more of the backstory that led to the Hunger Games, hearing more of Katniss 
  Everdeen's thoughts as she wander's through the arena, and finding out what the genetically mutated dogs at the end of the first
  book really are.
%p
  However, that isn't to say that the book is better than the movie.  I was impressed that the movie managed to alter the parts of
  the book that made the least amount of sense to increase the realism of the story.  I was impressed by both film and books. Two
  thumbs up for both!
