---
title: Joel on Software
created_at: 2012-08-30
featured_image: /images/joel_on_software.png
landscape: false
techs:
  -
description: 
  - "This book shows you the mind of a successful Software CEO and what it takes to go beyond good and be one of the best.  I recommend this to all software developers with two thumbs up."
rating: 3
author: Joel Spolsky
---
=update(:first => true, :date => '2012-08-30', :title => 'A Book for Anyone Working on Software')
%p
  In this book Joel discusses what it takes to manage and run a successful software company.  While this information
  is perfect for software managers out there, I recommend it for anyone working in a company where software is your primary
  product.  The advice here is clearly explained for a non-technical team member and helps everyone that reads it to understand
  the value behind things like version control, testing, giving programmers quiet space, and even some character encoding!
%p
  Developers will find it motivating in their work to adapt better habits and even to take a lead role in creating a more
  successful workflow among their team.
%p
  Joel doesn't discuss any details of programming languages or tools here which is great because it makes the book timeless
  and allows him to fully expose successful management.  Joel understands what factors lead to quality software more than
  any other author I have read.  Highly recommended!
