---
title: "Practical Object-Oriented Design in Ruby"
created_at: 2012-10-03
featured_image: /images/bookshelf/poodr/
landscape: false
techs:
  - Ruby
description: "A guide to object oriented design and writing code that is reusable, clear, and maintainable."
keywords: [Object Oriented Design, Agile, Modular, Programming]
rating: 
author: "Sandi Metz"
---

%p
  I started reading this book after hearing 
  %a{:href => "https://twitter.com/sandimetz"}Sandi Metz
  give a talk on making messes (and then sweeping them into a maintainable class or method) at
  =succeed('.') do
    %a{:href => "http://rockymtnruby.com"}Rocky Mountain Ruby, 2012
%p
  When I finish the book I'll give it a full overview.  For now, here's my impressions and the big points that I'm seeing:
%ul.bullet
  %li 
    Not an immediate feedback book.  Sandi will mention a programming problem and discuss the pros and cons of tacking
    it in several different ways.  Sometimes, she'll also point out that another part of the book has a better description.
    I guess I'll have to keep reading.
  %li
    For classes/methods or any definable block of code: Give it a single purpose.  To verify that it only has one purpose,
    ask it and see if the answer it says back to you is simple or if it has 'and' or 'or' in it.  If the answer isn't
    simple, it probably doesn't have a single purpose.

