---
title: "Pro Git"
created_at: 2012-9-05
featured_image: /images/bookshelf/pro_git/
landscape: false
techs:
  - Git
description: "A great primer on Git workflows and features."
keywords: [Git Server]
rating: 2
author: Scott Chacon
---
=update(:title => 'A Great Primer on Git', :first => true)
%p
  I read 
  =link_to_tab('Pro Git', 'http://git-scm.com/book')
  as background research before setting up a git server for 
  a small development team at 
  =succeed '.' do
    =link_to('6kites','/portfolio/#6kites')
  After reading, I knew several different
  ways of setting up a Git server and the pros and cons of each.
  In addition to understanding how to set up a Git server, I also
  felt more comfortable with Git workflows and commands.  
  Before Pro Git I was using Git regularly but Pro Git really
  clarified Git best practices for me.
%p
  I gave the book only one thumb up, however, because I think it needs
  to include an annotated Git documentation.  
  The book's relatively short tutorial section skipped over some
  details making it pleasant to read but
  including those details as Git documentation would have been perfect.
%p
  Also, 
  =link_to_tab('Pro Git', 'http://git-scm.com/book')
  is free to read online or in several e-reader formats!
  I'd recommend the book to anyone who uses Git and isn't 100% comfortable with
  it.

