---
title: The Cold Beer Report
:beer_report:
  :headings:
  - Event
  - Brewery
  - Brew
  - Date
  - Location
  - City
  - Comments
  :beers:
  - - Roy's
    - Mönchshof
    - Lager
    - Dec. 29th, 2011
    - Roy's
    - Troy, NY
    - Thanks Roy!!
  - - Roy's
    - Brown’s Brewing Co.
    - Pilsner
    - Dec. 29th, 2011
    - Roy's
    - Troy, NY
  - - Roy's
    - Brown’s Brewing Co.
    - Pale Ale
    - Dec. 29th, 2011
    - Roy's
    - Troy, NY
  - - Roy's
    - Brown’s Brewing Co.
    - IPA
    - Dec. 29th, 2011
    - Roy's
    - Troy, NY
  - - Roy's
    - Brown’s Brewing Co.
    - Cherry Raspberry
    - Dec. 29th, 2011
    - Roy's
    - Troy, NY
    - Amy’s favorite
  - - Roy's
    - Brown’s Brewing Co.
    - Brown Ale
    - Dec. 29th, 2011
    - Roy's
    - Troy, NY
  - - Roy's
    - Brown’s Brewing Co.
    - Porter
    - Dec. 29th, 2011
    - Roy's
    - Troy, NY
  - - Roy's
    - Brown’s Brewing Co.
    - Whiskey Barrel Aged Porter
    - Dec. 29th, 2011
    - Roy's
    - Troy, NY
    - Nathan’s fave
  - - Roy's
    - Brown’s Brewing Co.
    - Oatmeal Stout
    - Dec. 29th, 2011
    - Roy's
    - Troy, NY
  - - Movie Night
    - Magic Hat
    - Howl
    - Dec. 30th, 2011
    - Steph's
    - Swansea, MA
  - - Movie Night
    - Red Hook
    - Winter Hook
    - Dec. 30th, 2011
    - Steph's
    - Swansea, MA
  - - Movie Night
    - Long Trail Brewing Co.
    - Blackbeary Wheat
    - Dec. 30th, 2011
    - Steph's
    - Swansea, MA
  - - Movie Night
    - Magic Hat
    - Circus Boy
    - Dec. 30th, 2011
    - Steph's
    - Swansea, MA
  - - Other MA
    - Coors
    - Coors Light
    - Jan. 1st
    - Uncle Doug's
    - Somerset, MA
  - - Other MA
    - John Harvard’s
    - Russian Imperial Stout
    - Jan. 2nd
    - John Harvard's
    - Cambridge, MA
    - Nathan’s favorite
  - - Other MA
    - John Harvard’s
    - Winter Solstice
    - Jan. 2nd
    - John Harvard's
    - Cambridge, MA
  - - Other MA
    - John Harvard’s
    - Colonial Gold
    - Jan. 2nd
    - John Harvard's
    - Cambridge, MA
  - - Other MA
    - John Harvard’s
    - John Harvard’s Pale Ale
    - Jan. 2nd
    - John Harvard's
    - Cambridge, MA
  - - Other MA
    - John Harvard’s
    - Black Watch Stout
    - Jan. 2nd
    - John Harvard's
    - Cambridge, MA
  - - Other MA
    - Sam Adams
    - Winter Lager
    - Jan. 2nd
    - Aunt Diane's
    - Dedham, MA
  - - Other MA
    - Fox Barrel
    - Ginger & Black Currant Unfiltered Pear Cider
    - Jan. 3rd
    - Aunt Diane's
    - Dedham, MA
  - - none
    - Alexander Keith’s
    - Nova Scotia Style Brown Ale
    - Jan. 12th
    - Apartment
    - Boulder, CO
    - weirdly sweet…
  - - none
    - Alexander Keith’s
    - Nova Scotia Style Lager
    - Jan. 23rd
    - Apartment
    - Boulder, CO
  - - none
    - Lake Placid
    - Ubu Ale
    - Jan. 12th
    - Apartment
    - Boulder, CO
  - - none
    - Magic Hat
    - ! '#9'
    - Jan. 13th
    - Apartment
    - Boulder, CO
  - - none
    - Stoudt
    - Pils German-Style Pilsner
    - Jan. 15th
    - Apartment
    - Boulder, CO
    - Patriots Destroyed the Brocos!
  - - none
    - Huyghe
    - Delirium Tremens
    - Jan. 25th
    - Apartment
    - Boulder, CO
    - ':)'
  - - none
    - Margaritaville Brewing Co.
    - Landshark
    - Jan. 25th
    - Apartment
    - Boulder, CO
  - - none
    - UNIBROUE
    - Blanche de Chambly
    - Feb. 3rd
    - Apartment
    - Boulder, CO
  - - none
    - Mate Veza
    - Yerba Mate IPA
    - Feb. 2nd
    - Apartment
    - Boulder, CO
  - - none
    - Budweiser
    - Bud Light Lime
    - Feb. 2nd
    - Apartment
    - Boulder, CO
  - - none
    - Stone
    - Ruination IPA
    - Feb. 4th
    - Apartment
    - Boulder, CO
  - - none
    - Ommegang
    - Abbey Ale
    - Feb. 4th
    - Apartment
    - Boulder, CO
  - - none
    - Wells
    - Banana Bread Beer
    - Feb. 4th
    - Apartment
    - Boulder, CO
    - yum!
  - - none
    - New Planet
    - 3R Raspberry Ale
    - Feb. 5th
    - Apartment
    - Boulder, CO
  - - none
    - New Belgium
    - Trippel
    - Feb. 5th
    - Apartment
    - Boulder, CO
  - - none
    - Pabst
    - PBR
    - Feb. 5th
    - Apartment
    - Boulder, CO
  - - none
    - Green’s
    - Amber Ale
    - Feb. 5th
    - Apartment
    - Boulder, CO
  - - none
    - Boulder Beer
    - Buffalo Gold
    - Feb. 5th
    - Apartment
    - Boulder, CO
  - - none
    - Stone
    - IPA
    - Feb. 7th
    - Apartment
    - Boulder, CO
  - - none
    - Twisted Pine
    - Ghost Face Killah
    - Feb. 10th
    - Apartment
    - Boulder, CO
    - owowowow
  - - none
    - Angry Orchard
    - Hard Cider Apple Ginger
    - Feb. 12th
    - Apartment
    - Boulder, CO
    - yum :)
  - - none
    - Desnoes + Geddes
    - Red Stripe Jamaican Lager
    - Feb. 12th
    - Apartment
    - Boulder, CO
  - - none
    - Samuel Smith’s
    - Organic Cider
    - Feb. 17th
    - Apartment
    - Boulder, CO
  - - none
    - Shock Top
    - Raspberry Wheat
    - Feb. 22nd
    - Apartment
    - Boulder, CO
    - ':)'
  - - none
    - Angry Orchard
    - Crisp Apple
    - March 3rd
    - Apartment
    - Boulder, CO
    - amy like!
  - - none
    - Angry Orchard
    - Traditional Dry
    - March 4th
    - Apartment
    - Boulder, CO
    - amy like!
  - - none
    - Haandbryggeriet
    - Barrel-Aged Porter
    - March 3rd
    - Apartment
    - Boulder, CO
    - ':)'
  - - none
    - Young’s
    - Double Chocolate Stout
    - March 4th
    - Apartment
    - Boulder, CO
    - tastes like cardboard
  - - none
    - Durango Brewing Co.
    - Wheat Beer
    - March 8th
    - Apartment
    - Boulder, CO
  - - Chili and Stone Night
    - Rogue
    - Dead Guy Ale
    - Jan. 20th
    - Apartment
    - Boulder, CO
  - - Chili and Stone Night
    - Rogue
    - Chocolate Stout
    - Jan. 20th
    - Apartment
    - Boulder, CO
  - - Chili and Stone Night
    - Rogue
    - Nutella Beer!
    - Jan. 20th
    - Apartment
    - Boulder, CO
    - mixture of the chocolate and hazelnut
  - - Chili and Stone Night
    - Rogue
    - Hazelnut Brown Nectar
    - Jan. 20th
    - Apartment
    - Boulder, CO
  - - Chili and Stone Night
    - Stone
    - Pale Ale
    - Jan. 20th
    - Apartment
    - Boulder, CO
  - - Chili and Stone Night
    - Stone
    - Levitation Ale
    - Jan. 20th
    - Apartment
    - Boulder, CO
  - - Chili and Stone Night
    - Stone
    - OAKED Arrogant Bastard Ale
    - Jan. 20th
    - Apartment
    - Boulder, CO
  - - Chili and Stone Night
    - Stone
    - Double Bastard
    - Jan. 20th
    - Apartment
    - Boulder, CO
    - awesome!
  - - Chili and Stone Night
    - Stone
    - 11.11.11 Vertical Epic
    - Jan. 20th
    - Apartment
    - Boulder, CO
  - - Chili and Stone Night
    - Stone / The Bruery /Elysian
    - La Citrueille Celeste de Citranado
    - Jan. 20th
    - Apartment
    - Boulder, CO
  - - Birthday Beers
    - St-Feuillien
    - New Year’s Ale
    - Jan. 19th
    - Reuben’s
    - Boulder, CO
    - like :)
  - - Birthday Beers
    - Oskar Blues
    - Mama’s Little Yella Pils
    - Jan. 22nd
    - Oskar Blues
    - Longmont, CO
    - Nathan like!
  - - Birthday Beers
    - Oskar Blues
    - Dale’s Pale Ale
    - Jan. 22nd
    - Oskar Blues
    - Longmont, CO
  - - Birthday Beers
    - Oskar Blues
    - G’Knight
    - Jan. 22nd
    - Oskar Blues
    - Longmont, CO
    - Amy like!
  - - Birthday Beers
    - Oskar Blues
    - Old Chub Scotch Ale
    - Jan. 22nd
    - Oskar Blues
    - Longmont, CO
  - - Birthday Beers
    - Oskar Blues
    - Ten FIDY Imperial Stout
    - Jan. 22nd
    - Oskar Blues
    - Longmont, CO
  - - Birthday Beers
    - Oskar Blues
    - Deviant Dale’s IPA
    - Jan. 22nd
    - Oskar Blues
    - Longmont, CO
    - holyy hops
  - - Birthday Beers
    - Oskar Blues
    - Gubna Imperial IPA
    - Jan. 22nd
    - Oskar Blues
    - Longmont, CO
  - - Birthday Beers
    - Oskar Blues
    - Red Eye Rye
    - Jan. 22nd
    - Oskar Blues
    - Longmont, CO
  - - Birthday Beers
    - Oskar Blues
    - English Mild
    - Jan. 22nd
    - Oskar Blues
    - Longmont, CO
    - too mild…
  - - Birthday Beers
    - Oskar Blues
    - Columbian Supreme
    - Jan. 22nd
    - Oskar Blues
    - Longmont, CO
  - - Bull and Bush
    - Bull and Bush
    - Patio’s Vat Dunkelweiss
    - Jan. 26th
    - Bull and Bush
    - Denver, CO
  - - Bull and Bush
    - Bull and Bush
    - Happy Hop Pilsner
    - Jan. 26th
    - Bull and Bush
    - Denver, CO
    - Amy :)
  - - Bull and Bush
    - Bull and Bush
    - Allgood Amber Ale
    - Jan. 26th
    - Bull and Bush
    - Denver, CO
  - - Bull and Bush
    - Bull and Bush
    - The Tower ESB
    - Jan. 26th
    - Bull and Bush
    - Denver, CO
  - - Bull and Bush
    - Bull and Bush
    - Man Beer
    - Jan. 26th
    - Bull and Bush
    - Denver, CO
  - - Bull and Bush
    - Bull and Bush
    - Big Ben Brown Ale
    - Jan. 26th
    - Bull and Bush
    - Denver, CO
    - Nathan :)
  - - Stout Month
    - Mountain Sun
    - Girl Scout Stout
    - Feb. 8th
    - Mountain Sun
    - Boulder, CO
    - thumbs up!
  - - Stout Month
    - Mountain Sun
    - Dark Heart Pumpkin Stout
    - Feb. 8th
    - Mountain Sun
    - Boulder, CO
    - also a favorite!
  - - Stout Month
    - Mountain Sun
    - Korova Cream Stout
    - Feb. 8th
    - Mountain Sun
    - Boulder, CO
  - - Stout Month
    - Mountain Sun
    - Dropkick Stout
    - Feb. 8th
    - Mountain Sun
    - Boulder, CO
  - - Stout Month
    - Mountain Sun
    - Addiction Coffee Imperial Stout
    - Feb. 8th
    - Mountain Sun
    - Boulder, CO
  - - Stout Month
    - Mountain Sun
    - Coconut Cream Stout
    - Feb. 8th
    - Mountain Sun
    - Boulder, CO
  - - Boulder Restaurants
    - Anderson Valley
    - Boont Amber Ale
    - Feb. 21st
    - Backcountry
    - Boulder, CO
  - - Boulder Restaurants
    - Julian
    - Hard Cider
    - Feb. 21st
    - Backcountry
    - Boulder, CO
  - - Boulder Restaurants
    - Deshutes
    - Black Butte Porter
    - Feb. 21st
    - Backcountry
    - Boulder, CO
  - - Boulder Restaurants
    - Mountain Sun
    - Winter Warmer
    - April 1st
    - Mountain Sun
    - Boulder, CO
  - - Boulder Restaurants
    - Basteels
    - Tripel Karmeliet
    - Jan. 29th
    - Reuben’s
    - Boulder, CO
  - - None
    - Morland
    - Old Speckled Hen
    - March 8th
    - Apartment
    - Boulder, CO
  - - None
    - Boulevard
    - Nommo Dubbel
    - March 16th
    - Apartment
    - Boulder, CO
  - - None
    - Carlow
    - O’Hara’s Irish Stout
    - March 17th
    - Apartment
    - Boulder, CO
  - - None
    - Magners
    - Irish Cider
    - March 17th
    - Apartment
    - Boulder, CO
  - - None
    - Ringwood
    - Old Thumper
    - March 20th
    - Apartment
    - Boulder, CO
  - - None
    - Ace
    - Perry Hard Cider
    - March 22nd
    - Apartment
    - Boulder, CO
  - - None
    - Left Hand
    - Fade to Black
    - March 22nd
    - Apartment
    - Boulder, CO
  - - None
    - Boulevard
    - Irish Ale
    - March 22nd
    - Apartment
    - Boulder, CO
  - - None
    - Avery
    - Ellie’s Brown Ale
    - March 22nd
    - Apartment
    - Boulder, CO
  - - None
    - Huyghe
    - Fruli
    - March 30th
    - Apartment
    - Boulder, CO
    - fruity and delicious (Amy’s favorite fruit beer so far!)
  - - None
    - Samuel Smith’s
    - Nut Brown Ale
    - April 4th
    - Apartment
    - Boulder, CO
  - - None
    - Tim Feaver
    - Pumpkin Spice Beer
    - April 5th
    - Apartment
    - Boulder, CO
  - - None
    - Dogfish Head
    - Ta Henket
    - April 8th
    - Apartment
    - Boulder, CO
  - - None
    - Boulevard
    - Unfiltered Wheat Beer
    - April 9th
    - Apartment
    - Boulder, CO
  - - None
    - Woodchuck
    - Winter
    - April 13th
    - Apartment
    - Boulder, CO
  - - None
    - Mikkeller
    - Green Gold
    - April 14th
    - Apartment
    - Boulder, CO
  - - None
    - Huyghe
    - Delirium Nocturnum
    - April 14th
    - Apartment
    - Boulder, CO
  - - None
    - Timmermans
    - Strawberry
    - April 15th
    - Apartment
    - Boulder, CO
  - - None
    - Timmermans
    - Framboise
    - April 16th
    - Apartment
    - Boulder, CO
  - - None
    - Timmermans
    - Kriek
    - April 19th
    - Apartment
    - Boulder, CO
    - best of the Timmermans fruit beers
  - - None
    - St. Peter’s
    - Cream Stout
    - April 16th
    - Apartment
    - Boulder, CO
  - - None
    - Greene King
    - Wexford Irish Style Creme Ale
    - April 19th
    - Apartment
    - Boulder, CO
  - - None
    - Left Hand
    - Milk Stout (Nitro)
    - April 21st
    - Apartment
    - Boulder, CO
  - - None
    - Big Sky
    - Moose Drool
    - April 22nd
    - Apartment
    - Boulder, CO
  - - None
    - Abita
    - Strawberry Harvest Lager
    - April 29th
    - Apartment
    - Boulder, CO
  - - None
    - O’Dell’s
    - 90 Shilling
    - April 31st
    - Apartment
    - Boulder, CO
  - - None
    - Deschutes
    - Inversion IPA
    - May 5th
    - Apartment
    - Boulder, CO
  - - None
    - Avery
    - Karma Belgian Style Pale Ale
    - May 6th
    - Apartment
    - Boulder, CO
    - expected better from Avery!
  - - Spring Break
    - Shamrock
    - Blonde Lager
    - March 19th
    - Shamrock
    - Pueblo, CO
  - - Spring Break
    - Shamrock
    - Arch City Pale Ale
    - March 19th
    - Shamrock
    - Pueblo, CO
  - - Spring Break
    - Shamrock
    - Irish Red Ale
    - March 19th
    - Shamrock
    - Pueblo, CO
  - - Spring Break
    - Shamrock
    - Irish Porter
    - March 19th
    - Shamrock
    - Pueblo, CO
  - - Spring Break
    - Shamrock
    - Dunkelweizen
    - March 19th
    - Shamrock
    - Pueblo, CO
  - - Spring Break
    - Shamrock
    - Lucky Lager
    - March 19th
    - Shamrock
    - Pueblo, CO
  - - Spring Break
    - Shamrock
    - Scotch Strong Ale
    - March 19th
    - Shamrock
    - Pueblo, CO
  - - Spring Break
    - Shamrock
    - Holy Keg
    - March 19th
    - Shamrock
    - Pueblo, CO
  - - Spring Break
    - Shamrock
    - Doppelbock
    - March 19th
    - Shamrock
    - Pueblo, CO
  - - Spring Break
    - Mississippi
    - Mississippi Mud
    - March 20th
    - Campsite
    - Carlsbad, NM
  - - Spring Break
    - New Belgium
    - Sunshine Wheat
    - March 20th
    - Campsite
    - Carlsbad, NM
  - - Spring Break
    - The Wellhead
    - Cisco Canyon Blonde
    - March 21st
    - The Wellhead
    - Artesia, NM
  - - Spring Break
    - The Wellhead
    - Indian Basin Wheat
    - March 21st
    - The Wellhead
    - Artesia, NM
  - - Spring Break
    - The Wellhead
    - Wellhead Pale Ale
    - March 21st
    - The Wellhead
    - Artesia, NM
  - - Spring Break
    - The Wellhead
    - Roughneck Red
    - March 21st
    - The Wellhead
    - Artesia, NM
  - - Spring Break
    - The Wellhead
    - High Pressure Special Pale
    - March 21st
    - The Wellhead
    - Artesia, NM
  - - Spring Break
    - Bristol
    - Beehive Honey Wheat
    - March 23rd
    - Bristol
    - Colorado Springs, CO
  - - Spring Break
    - Bristol
    - Mass Transit Amber Ale
    - March 23rd
    - Bristol
    - Colorado Springs, CO
  - - Spring Break
    - Bristol
    - Red Rocket Pale Ale
    - March 23rd
    - Bristol
    - Colorado Springs, CO
  - - Spring Break
    - Bristol
    - Laughing Lab Scottish Ale
    - March 23rd
    - Bristol
    - Colorado Springs, CO
  - - Spring Break
    - Bristol
    - Compass IPA
    - March 23rd
    - Bristol
    - Colorado Springs, CO
  - - Spring Break
    - Bristol
    - Winter Warlock Stout
    - March 23rd
    - Bristol
    - Colorado Springs, CO
  - - Fort Collins Breweries
    - Funkwerks
    - White
    - May 7th
    - Funkwerks
    - Fort Collins, CO
  - - Fort Collins Breweries
    - Funkwerks
    - Saison
    - May 7th
    - Funkwerks
    - Fort Collins, CO
  - - Fort Collins Breweries
    - Funkwerks
    - Tropic King
    - May 7th
    - Funkwerks
    - Fort Collins, CO
  - - Fort Collins Breweries
    - Funkwerks
    - Belgian Stout
    - May 7th
    - Funkwerks
    - Fort Collins, CO
  - - Fort Collins Breweries
    - Funkwerks
    - Dark Prophet
    - May 7th
    - Funkwerks
    - Fort Collins, CO
  - - Fort Collins Breweries
    - Funkwerks
    - Ginger Chai White
    - May 7th
    - Funkwerks
    - Fort Collins, CO
    - Delicious
  - - Fort Collins Breweries
    - Equinox
    - Vandelay Dortmunder Export
    - May 7th
    - Equinox
    - Fort Collins, CO
  - - Fort Collins Breweries
    - Equinox
    - Kuiper Belt Pale Ale
    - May 7th
    - Equinox
    - Fort Collins, CO
  - - Fort Collins Breweries
    - Equinox
    - Eclipse Brown Ale
    - May 7th
    - Equinox
    - Fort Collins, CO
  - - Fort Collins Breweries
    - Equinox
    - Universal Porter
    - May 7th
    - Equinox
    - Fort Collins, CO
  - - Fort Collins Breweries
    - Equinox
    - 2nd Anniversary Pale Ale
    - May 7th
    - Equinox
    - Fort Collins, CO
  - - Fort Collins Breweries
    - Equinox
    - Zenith IPA
    - May 7th
    - Equinox
    - Fort Collins, CO
  - - Fort Collins Breweries
    - New Belgium
    - Abbey
    - May 8th
    - New Belgium
    - Fort Collins, CO
  - - Fort Collins Breweries
    - New Belgium
    - Biere De Mars
    - May 8th
    - New Belgium
    - Fort Collins, CO
    - part of the Lips of Faith series, light with lemon flavors
  - - Fort Collins Breweries
    - New Belgium
    - Fat Tire
    - May 8th
    - New Belgium
    - Fort Collins, CO
  - - Fort Collins Breweries
    - New Belgium
    - Ranger IPA
    - May 8th
    - New Belgium
    - Fort Collins, CO
  - - None
    - Ska
    - True Blonde Ale
    - May 15th
    - Apartment
    - Boulder, CO
    - awesomeee
  - - None
    - Newcastle
    - Brown Ale
    - May 16th
    - Apartment
    - Boulder, CO
  - - None
    - Cheerday
    - Lucky Buddah
    - May 24th
    - Apartment
    - Boulder, CO
  - - None
    - Boddington’s
    - Pub Ale
    - May 30th
    - Apartment
    - Boulder, CO
  - - None
    - Sierra Nevada
    - Pale Ale
    - May 31st
    - Apartment
    - Boulder, CO
  - - None
    - Kona
    - Koko Brown
    - June 1st
    - Apartment
    - Boulder, CO
    - Nathan likes, yummy coconut
  - - None
    - Bombay
    - Maharaja
    - June 1st
    - Apartment
    - Boulder, CO
  - - None
    - Harpoon
    - Winter Warmer
    - June 1st
    - Apartment
    - Boulder, CO
  - - None
    - Grand Lake
    - Wooly Booger
    - June 2nd
    - Apartment
    - Boulder, CO
  - - None
    - Santa Fe
    - State Penn Porter
    - June 3rd
    - Apartment
    - Boulder, CO
  - - None
    - Anderson Valley
    - Summer Solstice
    - June 3rd
    - Apartment
    - Boulder, CO
    - very good, good vanilla and caramel flavors
  - - None
    - Bombay
    - Taj Mahal
    - June 5th
    - Apartment
    - Boulder, CO
  - - None
    - Woodchuck
    - Amber
    - June 7th
    - Apartment
    - Boulder, CO
  - - None
    - Jeremiah Weed
    - Spiked Cola
    - June 10th
    - Apartment
    - Boulder, CO
    - terrible
  - - None
    - Jeremiah Weed
    - Roadhouse Tea
    - June 10th
    - Apartment
    - Boulder, CO
    - terrible
  - - None
    - Anheuser-Busch
    - Busch
    - June 10th
    - Apartment
    - Boulder, CO
  - - None
    - Kona
    - Fire Rock Pale Ale
    - June 10th
    - Apartment
    - Boulder, CO
  - - None
    - Bristol
    - Wit
    - June 10th
    - Apartment
    - Boulder, CO
  - - None
    - Rogue
    - Voodoo Doughnut
    - June 10th
    - Apartment
    - Boulder, CO
    - Bacon Maple!
  - - None
    - Bear Republic, Fat Head’s, Stone
    - TBA
    - June 11th
    - Apartment
    - Boulder, CO
  - - None
    - Ska
    - esb Special Ale
    - June 12th
    - Apartment
    - Boulder, CO
  - - None
    - Avery
    - Hog Heaven
    - June 17th
    - Apartment
    - Boulder, CO
  - - None
    - Ska
    - Modus Hoperandi
    - June 28th
    - Apartment
    - Boulder, CO
  - - None
    - Marble
    - Red Ale
    - June 28th
    - Apartment
    - Boulder, CO
  - - None
    - Plank Road
    - Red Dog
    - June 28th
    - Apartment
    - Boulder, CO
  - - None
    - Coors
    - Extra Gold Lager
    - June 28th
    - Apartment
    - Boulder, CO
  - - None
    - Stroh
    - Schlitz
    - June 28th
    - Apartment
    - Boulder, CO
  - - None
    - Steel
    - Steel Reserve
    - June 28th
    - Apartment
    - Boulder, CO
  - - None
    - Cerveceria Modelo
    - Victoria
    - June 30th
    - Apartment
    - Boulder, CO
  - - None
    - Sam Adams
    - Blackberry Witbier
    - July 1st
    - Apartment
    - Boulder, CO
    - tasty
  - - Hawaiian Beer Night
    - Pyramid
    - Apricot Ale
    - May 20th
    - Apartment
    - Boulder, CO
  - - Hawaiian Beer Night
    - Maui
    - Bikini Blonde Lager
    - May 20th
    - Apartment
    - Boulder, CO
  - - Hawaiian Beer Night
    - Maui
    - Mana Wheat
    - May 20th
    - Apartment
    - Boulder, CO
  - - Hawaiian Beer Night
    - Maui
    - CoCoNut Porter
    - May 20th
    - Apartment
    - Boulder, CO
  - - Hawaiian Beer Night
    - Maui
    - Big Swell IPA
    - May 20th
    - Apartment
    - Boulder, CO
  - - Hawaiian Beer Night
    - Kona
    - Longboard
    - May 20th
    - Apartment
    - Boulder, CO
  - - Boulder Beer
    - Boulder Beer
    - Single Track
    - June 8th
    - Boulder Beer
    - Boulder, CO
  - - Boulder Beer
    - Boulder Beer
    - Single Track (Nitro)
    - June 8th
    - Boulder Beer
    - Boulder, CO
  - - Boulder Beer
    - Boulder Beer
    - Single Track (Cask)
    - June 8th
    - Boulder Beer
    - Boulder, CO
    - Tasteless and Flat
  - - Boulder Beer
    - Boulder Beer
    - Apricot Cranberry IPA
    - June 8th
    - Boulder Beer
    - Boulder, CO
  - - Boulder Beer
    - Boulder Beer
    - Sweaty Betty Blonde
    - June 8th
    - Boulder Beer
    - Boulder, CO
  - - Boulder Beer
    - Boulder Beer
    - Hazed & Infused
    - June 8th
    - Boulder Beer
    - Boulder, CO
  - - Boulder Beer
    - Boulder Beer
    - Kinda Blue
    - June 8th
    - Boulder Beer
    - Boulder, CO
  - - Boulder Beer
    - Boulder Beer
    - Flashback
    - June 8th
    - Boulder Beer
    - Boulder, CO
  - - Boulder Beer
    - Boulder Beer
    - Planet Porter
    - June 8th
    - Boulder Beer
    - Boulder, CO
  - - Boulder Beer
    - Boulder Beer
    - Mojo IPA
    - June 8th
    - Boulder Beer
    - Boulder, CO
  - - Boulder Beer
    - Boulder Beer
    - Saison
    - June 8th
    - Boulder Beer
    - Boulder, CO
  - - Twisted Pine
    - Twisted Pine
    - Billy’s Chilies
    - July 1st
    - Twisted Pine
    - Boulder, CO
  - - Twisted Pine
    - Twisted Pine
    - Cream Style Stout
    - July 1st
    - Twisted Pine
    - Boulder, CO
  - - Twisted Pine
    - Twisted Pine
    - Razzy Xpress
    - July 1st
    - Twisted Pine
    - Boulder, CO
    - Amy’s favorite – a raspberry espresso stout
  - - Twisted Pine
    - Twisted Pine
    - Big Easy Offbeat Brown
    - July 1st
    - Twisted Pine
    - Boulder, CO
    - delicious! Brewed with horseradish, wasabi and ginger
  - - Twisted Pine
    - Twisted Pine
    - Irish Strong Ale
    - July 1st
    - Twisted Pine
    - Boulder, CO
    - Nathan’s favorite
  - - Puerto Rico
    - Cervecería Nacional Dominicana
    - Presidente Light
    - July 12th
    - Hotel
    - San Juan, PR
  - - Puerto Rico
    - Cervecera de Puerto Rico
    - Medalla Light
    - July 13th
    - Hotel
    - San Juan, PR
  - - Puerto Rico
    - St. Johns Brewers
    - Virgin Islands Tropical Mango Pale Ale
    - July 13th
    - Hotel
    - San Juan, PR
  - - Puerto Rico
    - Cervecería Nacional Dominicana
    - Presidente
    - July 14th
    - Hotel
    - San Juan, PR
  - - None
    - Anchor
    - Merry Christmas and Happy New Year 2011
    - July 7th
    - Apartment
    - Boulder, CO
  - - None
    - Harpoon
    - White UFO
    - July 14th
    - Bar
    - San Juan, PR
  - - None
    - Guinness
    - Guinness Draught
    - July 21st
    - Suzanne's Wedding
    - Mahwah, NJ
  - - None
    - Tröegs
    - Troegenator Doublebock
    - July 22nd
    - Suzanne's Wedding
    - Mahwah, NJ
  - - None
    - Smuttynose
    - IPA
    - July 24th
    - Suzanne's Wedding
    - Dedham, MA
  - - None
    - Griffin
    - London Porter
    - July 24th
    - Suzanne's Wedding
    - Dedham, MA
  - - None
    - Stone
    - Imperial Russian Stout
    - July 24th
    - Suzanne's Wedding
    - Dedham, MA
  - - None
    - Naragansett
    - Lager
    - Aug. 2nd
    - Apartment
    - Boulder, CO
    - Good for a cheap lager!
  - - None
    - Twisted Pine
    - Carrot IPA
    - Aug. 3rd
    - Nathan's Parent's
    - Louisville, CO
  - - None
    - L&L AlpHand
    - Ambrée
    - Aug. 3rd
    - Nathan's Parent's
    - Louisville, CO
    - One of two beers brought to us by Nathan’s parents from a microbrewery in France!
  - - None
    - Newport Storm
    - Tim Dunkelweiss
    - Aug. 3rd
    - Nathan's Parent's
    - Louisville, CO
  - - Sam Adams
    - Sam Adams
    - Boston Lager
    - July 25th
    - Sam Adams
    - Boston, MA
    - Nathan’s favorite.
  - - Sam Adams
    - Sam Adams
    - Summer Ale
    - July 25th
    - Sam Adams
    - Boston, MA
    - Amy’s Favorite
  - - Sam Adams
    - Sam Adams
    - White Water IPA
    - July 25th
    - Sam Adams
    - Boston, MA
  - - Avery
    - Avery
    - 3Point5
    - Aug. 4th
    - Avery
    - Boulder, CO
    - Nathan’s favorite.
  - - Avery
    - Avery
    - Joe’s Premium American Pilsner
    - Aug. 4th
    - Avery
    - Boulder, CO
    - Amy’s Favorite
  - - Avery
    - Avery
    - White Rascal
    - Aug. 4th
    - Avery
    - Boulder, CO
  - - Avery
    - Avery
    - Collaboration Not Litigation
    - Aug. 4th
    - Avery
    - Boulder, CO
  - - Avery
    - Avery
    - Salvation
    - Aug. 4th
    - Avery
    - Boulder, CO
  - - Avery
    - Avery
    - The Reverend
    - Aug. 4th
    - Avery
    - Boulder, CO
  - - Mountain Sun Misc
    - Mountain Sun
    - Hummingbird
    - April 29th
    - Mountain Sun
    - Boulder, CO
    - delicious honey ale with citrus
  - - Mountain Sun Misc
    - Mountain Sun
    - Fruitcake
    - May 17th
    - Mountain Sun
    - Boulder, CO
    - very very good (special for American craft beer week)
  - - Mountain Sun Misc
    - Mountain Sun
    - Cat Burglar Belgo-American IBA
    - May 17th
    - Mountain Sun
    - Boulder, CO
    - IBA = India Black Ale
  - - Mountain Sun Misc
    - Mountain Sun
    - Bombshell Blonde
    - May 17th
    - Mountain Sun
    - Boulder, CO
  - - Mountain Sun Misc
    - Mountain Sun
    - Java Porter
    - June 3rd
    - Mountain Sun
    - Boulder, CO
  - - Mountain Sun Misc
    - Mountain Sun
    - St. Amos Witt
    - June 3rd
    - Mountain Sun
    - Boulder, CO
  - - Mountain Sun Misc
    - Mountain Sun
    - Rouge de Brugge Belgian Red Ale
    - July 8th
    - Mountain Sun
    - Boulder, CO
  - - Mountain Sun Misc
    - Mountain Sun
    - Colorado Kind Ale
    - July 8th
    - Mountain Sun
    - Boulder, CO
  - - Mountain Sun Misc
    - Mountain Sun
    - Ciel Lumineaux
    - Aug. 8th
    - Mountain Sun
    - Boulder, CO
  - - Mountain Sun Misc
    - Mountain Sun
    - Resinous Rye I.P.A.
    - Aug. 8th
    - Mountain Sun
    - Boulder, CO
  - - Mountain Sun Misc
    - Mountain Sun
    - 1636 Belgian Dubbel
    - Aug. 8th
    - Mountain Sun
    - Boulder, CO
  - - Mountain Sun Misc
    - Mountain Sun
    - Super Kind American Barleywine
    - Aug. 8th
    - Mountain Sun
    - Boulder, CO
  - - Mountain Sun Misc
    - Mountain Sun
    - Grasshopp-ah Cider
    - Aug. 8th
    - Mountain Sun
    - Boulder, CO
    - Guest brew from Colorado Cider Company. Hoppy, which was a little strange for
      a cider.
  - - None
    - Avery
    - IPA
    - Aug. 5th
    - Apartment
    - Boulder, CO
  - - None
    - Full Sail
    - IPA
    - Aug. 5th
    - Apartment
    - Boulder, CO
  - - None
    - Latrobe
    - Rolling Rock
    - Aug. 5th
    - Apartment
    - Boulder, CO
    - pretty good for a cheap beer!
  - - None
    - Victory
    - Storm King Stout
    - Aug. 5th
    - Apartment
    - Boulder, CO
  - - None
    - Ridgeway
    - Reindeer Droppings
    - Aug. 5th
    - Apartment
    - Boulder, CO
    - ':)'
  - - None
    - Wynkoop
    - Rail Yard Ale
    - Aug. 5th
    - Apartment
    - Boulder, CO
    - ':('
  - - None
    - Wynkoop
    - Silverback Pale Ale
    - Aug. 5th
    - Apartment
    - Boulder, CO
  - - None
    - Coors
    - Blue Moon
    - Aug. 5th
    - Apartment
    - Boulder, CO
    - ':)'
  - - None
    - Breckenridge
    - Avalanche
    - Aug. 5th
    - Apartment
    - Boulder, CO
  - - None
    - Victory
    - Prima Pils
    - Aug. 5th
    - Apartment
    - Boulder, CO
  - - None
    - Cerveceria Modelo
    - Negra Modelo
    - Aug. 6th
    - Apartment
    - Boulder, CO
  - - None
    - Great Divide
    - Claymore Scotch Ale
    - Aug. 6th
    - Apartment
    - Boulder, CO
  - - None
    - Trumer Brauerei
    - Trumer Pils
    - Aug. 6th
    - Apartment
    - Boulder, CO
  - - None
    - Great Divide
    - Denver Pale Ale
    - Aug. 10th
    - Apartment
    - Boulder, CO
  - - None
    - Heineken
    - Heineken
    - Aug. 15th
    - Apartment
    - Boulder, CO
  - - None
    - Pyramid
    - Hefeweizen
    - Aug. 15th
    - Apartment
    - Boulder, CO
  - - None
    - Pyramid
    - Snow Cap Winter Warmer
    - Aug. 15th
    - Apartment
    - Boulder, CO
  - - None
    - Ska
    - True Blonde Dubbel
    - Aug. 15th
    - Apartment
    - Boulder, CO
    - good, but not as good as the True Blonde
  - - None
    - Dundee
    - Honey Brown
    - Aug. 15th
    - Apartment
    - Boulder, CO
  - - None
    - Cuahtemoc Moctezuma
    - Carta Blanca
    - Aug. 15th
    - Apartment
    - Boulder, CO
  - - None
    - Polo
    - San Miguel
    - Aug. 15th
    - Apartment
    - Boulder, CO
  - - None
    - Spoetzl Brewery Shiner
    - Shiner Blonde
    - Aug. 15th
    - Apartment
    - Boulder, CO
  - - None
    - Spoetzl Brewery Shiner
    - Shiner Ruby Redbird
    - Aug. 15th
    - Apartment
    - Boulder, CO
    - ':)'
  - - None
    - O’Dell
    - Easy Street Wheat
    - Aug. 19th
    - Apartment
    - Boulder, CO
  - - None
    - Shock Top
    - Belgian White
    - Aug. 19th
    - Apartment
    - Boulder, CO
  - - None
    - Paulaner
    - Oktoberfest Wien
    - Aug. 19th
    - Apartment
    - Boulder, CO
  - - None
    - Stone
    - Smoked Porter
    - Aug. 21st
    - Apartment
    - Boulder, CO
  - - None
    - He’Brew
    - Origin Pomegranate Ale
    - Aug. 21st
    - Apartment
    - Boulder, CO
  - - None
    - L&L Alphand
    - Stout
    - Aug. 21st
    - Apartment
    - Boulder, CO
  - - None
    - Flying Dog
    - Raging Bitch
    - Aug. 21st
    - Apartment
    - Boulder, CO
  - - None
    - The Lost Abbey
    - Lost & Found Ale
    - Aug. 21st
    - Apartment
    - Boulder, CO
  - - None
    - Coors
    - Blue Moon Vintage Blonde Ale
    - Aug. 21st
    - Apartment
    - Boulder, CO
    - delicious! Tasted a lot like champagne.
  - - None
    - Ska
    - Euphoria Pale Ale
    - Aug. 25th
    - Apartment
    - Boulder, CO
  - - None
    - Dogfish Head
    - 120 Minute IPA
    - Aug. 25th
    - Apartment
    - Boulder, CO
    - good, very strong & flavorful
  - - Walnut Brewery
    - Walnut
    - Salamander Amber
    - Aug. 14th
    - Walnut
    - Boulder, CO
    - Nathan’s favorite
  - - Walnut Brewery
    - Walnut
    - Buffalo Gold
    - Aug. 14th
    - Walnut
    - Boulder, CO
  - - Walnut Brewery
    - Walnut
    - Indian Peaks Pale Ale
    - Aug. 14th
    - Walnut
    - Boulder, CO
    - best of the light beers we tried
  - - Walnut Brewery
    - Walnut
    - Seasonal Wheat – Hefeweizen
    - Aug. 14th
    - Walnut
    - Boulder, CO
  - - Walnut Brewery
    - Walnut
    - St. James Irish Red
    - Aug. 14th
    - Walnut
    - Boulder, CO
    - pretty much tasted like water
  - - Walnut Brewery
    - Walnut
    - Old Elk Brown
    - Aug. 14th
    - Walnut
    - Boulder, CO
    - Nathan liked! Amy thought it also tasted like water.
  - - Walnut Brewery
    - Walnut
    - Devil’s Thumb Stout
    - Aug. 14th
    - Walnut
    - Boulder, CO
  - - Walnut Brewery
    - Twisted Pine
    - Braggot
    - Sept. 7th
    - Twisted Pine
    - Boulder, CO
  - - Walnut Brewery
    - Twisted Pine
    - Hoppy Knight
    - Sept. 7th
    - Twisted Pine
    - Boulder, CO
  - - Walnut Brewery
    - Twisted Pine
    - Hoppy Girl
    - Sept. 7th
    - Twisted Pine
    - Boulder, CO
  - - Walnut Brewery
    - Twisted Pine
    - Hoppy Boy
    - Sept. 7th
    - Twisted Pine
    - Boulder, CO
    - good - better than Hoppy Girl
  - - Walnut Brewery
    - Twisted Pine
    - Bloody Bills
    - Sept. 7th
    - Twisted Pine
    - Boulder, CO
    - Nathan – one of my favorites V8 beer Amy - disgusting!
  - - Walnut Brewery
    - Twisted Pine
    - Espresso Stout
    - Sept. 7th
    - Twisted Pine
    - Boulder, CO
  - - Walnut Brewery
    - Twisted Pine
    - Honey Brown
    - Sept. 7th
    - Twisted Pine
    - Boulder, CO
  - - Walnut Brewery
    - Twisted Pine
    - Amber Ale
    - Sept. 7th
    - Twisted Pine
    - Boulder, CO
  - - Walnut Brewery
    - Twisted Pine
    - Raspberry Wheat
    - Sept. 7th
    - Twisted Pine
    - Boulder, CO
  - - Walnut Brewery
    - Twisted Pine
    - Rocky Mountain Wheat
    - Sept. 7th
    - Twisted Pine
    - Boulder, CO
    - Amy’s favorite
  - - Walnut Brewery
    - Twisted Pine
    - Blonde Ale
    - Sept. 7th
    - Twisted Pine
    - Boulder, CO
  - - None
    - Coors
    - Batch 19
    - Sept. 1st
    - Nate and Sarah's
    - Aurora, CO
  - - None
    - Pinkas
    - Ur Pils
    - Sept. 1st
    - Nate and Sarah's
    - Aurora, CO
  - - None
    - Eel River
    - Açai Berry Wheat
    - Sept. 1st
    - Nate and Sarah's
    - Aurora, CO
  - - None
    - Brothers Reserve
    - Galaxy Hopped Barleywine Ale
    - Sept. 1st
    - Nate and Sarah's
    - Aurora, CO
  - - None
    - Marble
    - Wildflower Wheat
    - Sept. 6th
    - Apartment
    - Boulder, CO
  - - None
    - Victory
    - Golden Monkey
    - Sept. 6th
    - Apartment
    - Boulder, CO
  - - None
    - Lefthand
    - Sawtooth Ale
    - Sept. 6th
    - Apartment
    - Boulder, CO
    - good!
  - - None
    - Brother Thelonious
    - Belgian Style Abbey Ale
    - Sept. 6th
    - Apartment
    - Boulder, CO
  - - None
    - Great Divide
    - Hoss
    - Sept. 6th
    - Apartment
    - Boulder, CO
  - - None
    - Mikkeller
    - Sept. 6th
    - Apartment
    - Boulder, CO
  - - None
    - Boulevard
    - Sixth Glass Quaddruppel
    - Sept. 6th
    - Apartment
    - Boulder, CO

---

=render "_beer_report"
