---
title: Home
notice: '<strong>Under Construction (Aug 2012):</strong> You can visit my old site <a href="http://v1.nathanfeaver.com">here</a> =)'

---
/%h2 About
#nathan_strip
  %img{:src => "/images/nathan_strip.png"}
%p
  Hi, I'm Nathan Feaver and this is my website.  My wife, Amy, and I live along the creek
  path in Boulder, Colorado (possibly the best place ever?).  We love getting outdoors:
  biking, climbing, soccer, skiing, and disc golf for me.
%p
  I've been building websites as a professional freelancer since mid-2011.  I tend to get
  a bit nerdy when working with backend Rails but enjoy being able to work on the whole
  stack.  I'll attack a new widget with some JavaScript, take advantage of 
  sharp looking CSS frameworks, and write a deployment script all in a day's work.
%strong Technical Expertise:
CSS + HTML, WordPress, 
=succeed(',') do
  =link_to('Nanoc', 'http://nanoc.stoneship.org')
Git, Ruby on Rails, JavaScript
