---
title: NathanFeaver.com
description: "About coding, web development, and fun to be had in tech"
notice: "Summer is Disc Golf Season! <a href='http://www.pdga.com/course_directory' target='_blank'>Find a Course</a>"
---
