---
title: Home
notice: '<strong>Under Construction (Aug 2012):</strong> You can visit my old site <a href="http://v1.nathanfeaver.com">here</a> =)'

---
#nathan_strip
  %img{:src => "/images/nathan_strip.png"}
%h2 About Nathan
%p
  My wife, Amy, and I live along the creek
  path in Boulder, Colorado (possibly the best place ever?).  We love getting outdoors:
  biking, climbing, soccer, skiing, and disc golf.
%p
  I've been building websites as a professional freelancer since mid-2011.  I tend to get
  a bit nerdy when working with backend Rails but enjoy being able to work on the whole
  stack.  I'll attack a new widget with some JavaScript, take advantage of 
  sharp looking CSS frameworks, and write a deployment script all in a day's work.
%strong Technical Expertise:
=succeed(',') do
  =link_to('HTML', 'http://www.w3schools.com/html/default.asp')
  \+
  =link_to('CSS', 'http://www.w3schools.com/css/default.asp')
=succeed(',') do
  =link_to('Haml', 'http://haml.info')
  \+
  =link_to('Sass', 'http://sass-lang.com')
=succeed(',') do
  =link_to('WordPress', 'http://www.WordPress.org') 
=succeed(',') do
  =link_to('Nanoc', 'http://nanoc.stoneship.org')
=succeed(',') do
  =link_to('Git', 'http://git-scm.com/')
=succeed(',') do
  =link_to('Ruby on Rails', 'http://rubyonrails.org')
=link_to('JavaScript', 'http://www.w3schools.com/js/default.asp')

