---
title: Home
notice: 'Under Construction (Aug 2012): You can visit my old site <a href="http://v1.nathanfeaver.com">here</a> =)'

---
#container
  %header
    #title{:rel => "site title"}
      %strong#site-id
        NathanFeaver.com
      .sub-text
        The Web's Leading Resource on Nathan Feaver!
  #main
    -if @item[:notice]
      #notice.box_round
        =@item[:notice]
/    -@items.each do |item|
/      %br
/      =item.identifier.inspect
#sidebar
  #sidebar-container
    %img#logo{:src => '/images/logo.png'}
    -sidebar_categories.attr_sort( :sidebar_item ).each do |category|
      %h3= link_to(category[:title], category.identifier)
      %ul
        -items_of( category ).each do |li|
          %li= link_to(li[:title], li.identifier)
  #sidebar-endcap
