---
title: 'Morning and Evening by Charles Spurgeon'
description: "Classic Christian devotionals for every day of the year."
stylesheet: '/css/meditation.css'
app_script: '/js/meditation.js'
---
%main
  %header
    %h2
      Reading for:
      %time
  .scripRef
  .reading
%footer
  %p
    =succeed(',') do
      %cite Morning and Evening
    by Charles Spurgeon
