---
title: 'Morning and Evening by Charles Spurgeon'
description: "Classic Christian devotionals for every day of the year."
stylesheets:
  - '/css/normalize.css'
  - '/css/meditation.css'
scripts:
  - '/js/jquery-1-10-1-min.js'
  - 'https://use.fontawesome.com/0f6cd52098.js'
body_scripts:
  - '/js/meditation.js'
---
#meditation-app
%footer
  %p
    =succeed(',') do
      %cite Morning and Evening
    by Charles Spurgeon
:javascript
  window.onload = function() {
    Elm.MeditationMain.embed(document.getElementById('meditation-app'));
  };
