html { 
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  overflow-y: scroll;
  width: 100%;
}

html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

.inside {
  width: 970px;
  margin: auto;
  position: relative;
}

#container {
  padding-left: 20px;
  margin-bottom: 100px;
}
