-category = Categories.find( :category_of => @item )
%header
  .inside
    #site-id
      %a{:href => '/'}
        %img{:src => '/images/logo.png'}
    #title-container
      %strong#page-title
        -if category
          =category[:title]
        -else
          =@item[:title]
      .sub-text
        -if category
          =category[:description]
        -else
          =@item[:description]

