-(@category = @category ? ( get_category_of @category ) : ( get_category_of @item )) unless category? @category
.item_list
  %ul
    -items_of( @category ).reverse.each do |category_item|
      %a.button-link{:href => category_item.identifier}
        %li
          =get_featured_image category_item
          %span.button-link-title= category_item[:title]

