-#FIXME: Why is this line necessary?  Refactor?
-(@category = @category ? ( Categories.find( :category_of => @category )) : ( Categories.find( :category_of => @item ))) unless Categories.include? @category
.item_list
  %ul
    -Categories.find( :items_of => @category ).reverse.each do |category_item|
      %a.button-link{:href => category_item.identifier}
        %li
          =get_featured_image category_item
          %span.button-link-title= category_item[:title]

