
#portfolio
  %h2 Portfolio
  -items_of( get_category_by_id '/portfolio/' ).reverse.each do |portfolio_piece|
    .portfolio_piece.clearfix
      =get_featured_image portfolio_piece, 'simple_border'
      .portfolio_piece_info
        %h4= portfolio_piece[:title]
        %ul
          %li
            %strong Technologies Used:
            =portfolio_piece[:techs].join(', ')
          %li
            %strong Built:
            =portfolio_piece[:created_at].strftime("%B %Y")
          %li
            %strong Description:
            -portfolio_piece[:description].each do |p|
              %p
                =p
          -if portfolio_piece[:link]
            %li
              %strong Link:
              =link_to( portfolio_piece[:title], portfolio_piece[:link] )
