#sidebar
  #sidebar-container
    #sidebar-header
      %h3 Navigation
    #sidebar-sections
      .sidebar_section
        %h4= link_to('Home', '/')
      -# List all categories on the sidebar, sorting them by value in :sidebar_item
      -sidebar_categories.each do |category|
        .sidebar_section
          %h4
            -unless category.identifier == '/blog/'
              = link_to(category[:title], category)
            -else
              = link_to(category[:title] + ' - Blog', category)
          -#unless category.identifier == '/portfolio/'
          %ul
            -items_of( category ).reverse.each_with_index do |li, i|
              -if li.path
                %li= link_to(li[:title], li)
                -break if (i > 3) && (get_category_of( li ).inspect != (get_category_of( @item ).inspect))

  #sidebar-endcap
