#sidebar
  #sidebar-container
    %a{:href => '/'}
      %img#logo{:src => '/images/logo.png'}
    -category = get_category_of @item
    %h3= link_to(category[:title], category)
    %ul
      -items_of( category ).reverse.each do |li|
        %li= link_to(li[:title], li)
  #sidebar-endcap

