!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= @item[:title]
    %link{:href => "/css/beer_report.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    / you don't need to keep this, but it's cool for stats!
    %meta{:content => "nanoc #{Nanoc::VERSION}", :name => "generator"}/
    %script{ :type => "text/javascript", :src => "/js/gs_sortable.js" }
    %script{ :type => "text/javascript" }
      <!--
      var TSort_Data = new Array ('beer_report', 'i', 's', 's', 's', 'd', 's', 's', 's');
      tsRegister();
      // -->
  %body
    #main
      %span.go_back
        =link_to('Hobbies', '/hobbies/')
        \>
        =link_to('Beer Tasting', '/hobbies/beer_tasting/')
      %span.go_home
        %a{ :href => "/" }NathanFeaver.com
      %h1= @item[:title]
      %span.sort_notice
        %strong Check it out:
        Sort by Columns (try Brewery, City, or Date)
      %span.pdf_link
        %a{:href => "/documents/cold_beer_report.pdf"} The Annotated PDF, by Amy Feaver
      =yield

