=render '_page_header'
=render '_header'
.inside
  #container
    #main.item
      -if @item[:notice]
        #notice.box_round
          =@item[:notice]
      %article
        %h1= @item[:title]
        -if @item[:author]
          .author
            %strong Written by:
            =@item[:author]
        %span.date= "Posted: #{@item[:created_at].strftime('%b. %d, %Y')}"
        =yield
      =render '_disqus'

  =render '_sidebar'
