=render '_page_header', :custom_title => 'Welcome to NathanFeaver.com'
=render '_header'
.inside
  #container
    #columns.clearfix
      #main
        -if @item[:notice]
          #notice.box_round
            =@item[:notice]

        /Begin Post
        -# Post should be the item or the first post (if this is the homepage)
        -post = (@item.identifier == '/' ? Categories.find( :items_of => '/blog/' ).first : @item)
        %article
          %h2= post[:title]
          -if post[:subtitle]
            %span.title-sub-text= "- #{post[:subtitle]}"
          %span.date
            -last = (post[:last_updated] || post[:created_at])
            Last Updated:
            %time= last.strftime('%b. %d, %Y')
          %hr
          =get_featured_image @item, 'floated_img_border' if featured_image?
          -if post == @item
            =yield
          -else
            =render_item post
        /End Post

        =render '_disqus', :item => post
        =#link_to('More Posts', '/archive/')
      =render '_sidebar'
