=render '_page_header'
=render '_header'
.inside
  #container
    #columns.clearfix
      #main
        -if @item[:notice]
          #notice.box_round
            =@item[:notice]
        =render '_item_list', :category => @item
      =render '_sidebar'
