=render '_page_header'
#container
  =render '_header'
  #main
    -if @item[:notice]
      #notice.box_round
        =@item[:notice]
    %h1= @item[:title]
    =render '_item_list', :category => @item
=render '_sidebar'
