=render '_page_header'
#container
  =render '_header'
  #main.item
    -if @item[:notice]
      #notice.box_round
        =@item[:notice]
    =get_featured_image @item
    %h1= @item[:title]
    -if @item[:rating]
      .rating
        %strong Rated:
        =get_rating_image @item[:rating]
    -if @item[:author]
      .author
        %strong Written by:
        =@item[:author]
    %span.date= "Last Updated: #{@item[:created_at].strftime('%b. %d, %Y')}"
    =yield
=render '_sidebar'
