=render '_page_header', :custom_title => 'Welcome to NathanFeaver.com'
=render '_header'
.inside
  #container
    #main
      -if @item[:notice]
        #notice.box_round
          =@item[:notice]
      =render '_blog_post'
      =#link_to('More Posts', '/archive/')
  =render '_sidebar'
