=render '_page_header', :custom_title => 'Welcome to NathanFeaver.com'

#container
  =render '_header'
  #main
    -if @item[:notice]
      #notice.box_round
        =@item[:notice]
    =yield
    %hr
    =render '_portfolio_list'
=render '_sidebar'
