code.js {
  .comment              { color: #278bd2; }
  .string               { color: #dc312d; }
  .keyword              { color: #2aa198; }
  .key                  { color: #D53AD4; }
  .predefined-constant  { color: #bf7300; }
  .integer              { color: #dc312d; }
}
