---
title: "6kites"
created_at: 2012-08-20
end_date: 2013-01-31
featured_image: /images/portfolio/6kites/
landscape: true
techs:
  - WordPress Multisite
  - Git
  - PHP
  - Scrum Development
description:
  - "6kites hired me to work with their development team to build custom WordPress sites and to manage their source control and deployments."
  - "We built a platform for 6kite's client to quickly clone and customize websites for sports teams and clubs.  I dug deep into WordPress to build a highly customized dashboard and administrator toolset."
  - "As manager of source control, I implemented Git on the server and managed deployments of 6kites products through Git commits/hooks."
  - "I participated in a scrum team developing rapid prototypes and iterating changes with client input on a weekly sprint cycle."
keywords: [WordPress, Git server, Plugins, Theme Development, Deployments, source control]
order: 430
link: http://www.6kites.com/
contractor: true
---
TODO: Add content to `content/portfolio/6kites.haml`.
