---
title: Amy Teaching
created_at: 2012-08-28
featured_image: /images/amy_teaching.png
landscape: true
techs:
  - Nanoc
  - 'Haml & Sass'
  - YAML
description: 
  - "My wife, <a href='http://euclid.colorado.edu/~keighley'>Amy</a>, is a math PhD candidate and teacher at <a href='http://www.colorado.edu'>CU Boulder</a>.  I've built her personal website there as well as several websites for the classes that she teaches.  This semester she's teaching Spirit and Uses of Mathematics 1 and I've upgraded her from a pure HTML & CSS website to a Nanoc site."
  - "I really appreciate how well Nanoc has worked to keep a teaching website up to date with as little pain as possible.  This was also a great chance to spend time doing some fun Ruby programming!"
link: http://euclid.colorado.edu/~keighley/spu/
---
TODO: Add content to `content/portfolio/amy_teaching.haml`.
