---
title: "Amy's Teaching Websites"
created_at: 2012-08-28
featured_image: /images/portfolio/amy_teaching/
landscape: true
techs:
  - Nanoc
  - 'Haml & Sass'
  - YAML
  - 'Google Web Fonts'
description:
  - "My wife, <a href='http://euclid.colorado.edu/~keighley'>Amy</a>, is a math PhD candidate and teacher at <a href='http://www.colorado.edu'>CU Boulder</a>.  The loving husband that I am, I have built her professional website as well as most of her course websites."
  - "Nanoc was the perfect tool for this small site with static pages.  It enables Amy to keep her website up to date by entering data (no html or programming required) and has no hosting costs!"
order: 305
keywords: [Amy, Teaching, math PhD]
link: http://euclid.colorado.edu/~keighley/
---
TODO: Add content to `content/portfolio/amy_teaching.haml`.
