---
title: "Amy's Course Website"
created_at: 2012-08-28
featured_image: /images/portfolio/amy_teaching/
landscape: true
techs:
  - Nanoc
  - 'Haml & Sass'
  - YAML
  - 'Google Web Fonts'
description:
  - "My wife, <a href='http://euclid.colorado.edu/~keighley'>Amy</a>, is a math PhD candidate and teacher at <a href='http://www.colorado.edu'>CU Boulder</a>.  This semester she's teaching Spirit and Uses of Mathematics 1 and her new website is upgraded from a pure HTML & CSS website to a Nanoc site."
  - "Nanoc was the perfect tool for this small site with static pages.  It enables Amy to keep her website up to date by entering data (no html or programming required) and has no hosting costs!"
order: 110
keywords: [Amy, Teaching, math PhD]
link: http://euclid.colorado.edu/~keighley/teaching/spu/
---
TODO: Add content to `content/portfolio/amy_teaching.haml`.
