---
title: "Ben's Course Website"
created_at: 2012-05-07
featured_image: /images/portfolio/ben_teaching/
landscape: true
techs:
  - WordPress
  - PHP
  - MySQL
description: 
  - "For this website, I ported an existing PHP backed website into WordPress for easier maintenance for the client (a math graduate student teacher at CU).  I created a custom plugin to help the client post announcements and new homeworks on various pages of his site.  In addition, I manually set up and configured a MySQL database on a remote server."
order: 100
link: false
---
TODO: Add content to `content/portfolio/ben_teaching.haml`.
