---
title: CU Buffalo Tutor
created_at: 2012-04-10
featured_image: /images/cu_buffalo_tutor.png
landscape: true
techs:
  - WordPress
  - 'Foundation CSS Framework'
  - 'Mobile-Ready'
  - SEO
description: 
  - "I created a custom WordPress website for Buffalo Tutor to inform students of services beyond basic tutoring and convert visitors into clients. This site was created on the <a href='http://foundation.zurb.com/'>Foundation CSS Framework</a> to provide a mobile-friendly website that students reading flyers in the hallway could easily navigate. I also helped the client understand some principals of SEO and modified an existing site to have better SEO performance."
  - "The mobile-friendly layout of this site worked well with the fun/cartoony look that Buffalo Tutor wanted.  Unfortunately, the site that I built was never published because of it couldn't be finished within budget."
link: false
---
TODO: Add content to `content/portfolio/cu_buffalo_tutor.haml`.
