---
title: Earth Explorers
created_at: 2011-10-01
featured_image: /images/earth_explorers.png
landscape: false
techs:
  - WordPress
  - HTML
  - CSS
  - PHP
  - JavaScript
  - 'InkScape & GIMP'
description: 
  - "I built this website for a Boulder non-profit.  We purchased a theme and heavily modified it by implementing plugins and creating a branded visual design.  I also created custom plugins to keep track of people and students associated with the organization."
link: http://www.earthexplorers.org
---
TODO: Add content to `content/portfolio/earth_explorers.haml`.
