---
title: Personal Homepage (This Site)
created_at: 2012-08-27
featured_image: /images/portfolio/personal_homepage/
landscape: true
techs:
  - Nanoc
  - 'Haml + Sass'
  - 'Amazon S3'
  - YAML
description: 
  - "Soon after I started developing web sites, I began hosting my personal website on <a href='http://aws.amazon.com/s3/'>Amazon S3</a> using static HTML and CSS pages. However, as any new web developer quickly understands, it becomes impractical to keep more than a handful of html files updated."
  - "I updated the old site into this one using Nanoc.  Now, it is simple to add data quickly and create a more compelling website consisting of pure HTML and CSS (and JavaScript to come). You can check out the code at my GitHub account in the link below."
order: 350
code: 'http://github.com/jfeaver/nathanfeaver.com'
---
TODO: Add content to `content/portfolio/personal_homepage.haml`.
