---
title: Personal Homepage
created_at: 2012-08-27
featured_image: /images/personal_homepage.png
landscape: true
techs:
  - Nanoc
  - 'Haml + Sass'
  - 'Amazon S3'
  - YAML
description: 
  - "Soon after I started developing web sites, I discovered how easy and cheap it is to host static webpages on <a href='http://aws.amazon.com/s3/'>Amazon S3</a>. However, it was impractical to keep websites updated with more than a handful of static pages.  Nanoc makes it easy to add a small amount of data and generate the static HTML."
  - "This site is a chronicle of my journey as a web developer."
link: false 
---
TODO: Add content to `content/portfolio/personal_homepage.haml`.
