---
title: Prospeed RS683
created_at: 2012-04-20
featured_image: /images/rs683.png
landscape: true
techs:
  - WordPress
  - 'Domain Management'
  - RSS
  - 'HTML & CSS'
description: 
  - "I did some maintenance work for RS683, helping them integrate their WordPress blog into their website."
link: http://www.rs683.com
---
TODO: Add content to `content/portfolio/rs683.haml`.
