---
title: "Torque"
created_at: 2012-09-13
featured_image: /images/portfolio/torque/
landscape: true
techs:
  - WordPress
  - PHP
  - 'HTML & CSS'
  - RSS
  - 'Domain Management'
description: 
  - "For Torque Brake Fluid, I built a custom lightweight WordPress theme from scratch.  The site required custom user roles and capabilities which I discuss in my <a href='/blog/custom_post_types_and_roles_in_wordpress/'>blog</a>."
  - "The site allows the client to quickly post news stories (with a news feed on the homepage) and blog entries without a lot of other fluff. Visitors to the site can post testimonials with pictures, adding value to the site over time."
  - "I also helped this client transfer their domain to a new host."
keywords: [WordPress Hooks, User Types, Post Types]
order: 200
link: http://www.torquebrakefluid.com
---
TODO: Add content to `content/portfolio/torque.haml`.
