---
title: Trusted Tutor
created_at: 2012-07-27
featured_image: /images/trusted_tutor.png
landscape: false
techs:
  - 'HTML5 Boiler Plate'
  - 'Haml & Sass'
  - 'Custom Deploy Script'
  - JavaScript
  - JSON
  - 'Amazon S3'
description: 
  - "In between web development I tutor students at <a href='http://www.colorado.edu'>The University of Colorado</a> in math and computer science courses.  I created this business to have a branded presence on campus.  Students can submit reviews to a <a href='http://www.google.com/google-d-s/forms/'>Google Form</a> which is used to generate JSON data to populate the website."
  - "I am really happy with this website. The simple graphic design, navigation, and user-centric content make it elegant and highly functional."
link: http://www.trustedtutor.net
---
TODO: Add content to `content/portfolio/trusted_tutor.haml`.
