---
title: Vidusic
created_at: 2012-06-27
featured_image: /images/portfolio/vidusic/
landscape: true
techs:
  - 'Ruby on Rails'
  - RSpec
  - 'Haml & Sass'
  - Heroku
  - PostgreSQL
  - 'HTML + CSS'
  - 'YouTube API'
description: 
  - "I built Vidusic with the intention of sharing my favorite music videos with friends and family.  I also subscribe to the <a href='http://norvig.com/21-days.html'>'Learn by Doing Method'</a> and worked on this to continue learning Ruby on Rails (I had been playing with Rails since Feb 2012 but this was my first published app)."
  - "I continue to update this site with a few videos each week. If it loads slowly, it is because I'm on the free-usage tier at Heroku. Enjoy!"
order: 425
link: http://www.vidusic.net
code: http://github.com/jfeaver/Vidusic
---
TODO: Add content to `content/portfolio/vidusic.haml`.
