---
title: Biking
created_at: 2012-08-29
featured_image: /images/biking.png
landscape: true
techs:
  -
description: 
  - ""
---
=update( :first => true, :date => '2012-08-29', :title => 'My First Road Bike' )
%p
  Living in downtown Boulder and biking is wonderful.  I love being close enough to everything that it's simply
  a bike ride away.  As well as commuting on my bike, I also enjoy going on longer rides (usually 5-15 miles) with
  Amy or other friends.
%p
  Amy and I went on one of our longer bike rides this past summer, about 10 miles.  She was on her 2 year old road
  bike while I was on my 13 year old mountain bike.  I can normally do an okay job of keeping up with her but I was tired on this
  day and this was a longer ride than we had done in a while and I just couldn't keep up.
%p
  I accepted when Amy offered to switch bikes.  She couldn't believe how difficult it was to keep those old wheels
  turning.  We traded turns cranking the pedals of my bike and eventually made it home but it was decided that I
  needed a new bike.
%p
  A few weeks later,
  %a{:href => 'http://www.fullcyclebikes.com'} Full Cycle
  in Boulder had an anniversary sale on top of a markdown for 2012 bikes.  The
  %a{:href => 'http://www.feltbicycles.com/USA/2013/Road/F-Series/F85.aspx', :title => 'I have the 2012 version but this is the 2013 version'} Felt F85
  had a manufacturer markdown on it as well and it felt great (get it? It Felt great ;).  I've been riding it all
  over the place and bike rides with Amy give her a good workout once again!
