---
title: "Disc Golf"
created_at: 2012-10-19
featured_image: /images/hobbies/disc_golf/
landscape: true
techs:
  -
description: "If you like to hang out with friends, enjoy nice weather, and have a little competition then you'll like disc golf!"
keywords: []
---
=update(:title => 'Sun + Friends + Competition = Fun', :date => '2012-10-19', :first => true)
%p
  I've been playing disc golf regularly ever since they installed a new course outside my dorm
  at Colorado School of Mines during the last week of Spring semester in 2005.  My roommates
  and I put off studying for finals to go try out the new sport and the rest is history.  It
  is a pastime we continue to enjoy together whenever we can.
%p
  If you're in Boulder and want to try out Disc Golf for the first time, then check
  out an easy 9 hole course at South Boulder Rec Center (the first hole starts behind
  the rec center). It's got lots of grass, easy holes, and views of the flatirons.
  Courses are generally free so all you'll need is a frisbee!
%p
  My favorite courses are Johnny Roberts Disc Golf in old town Arvada and
  the Conifer disc golf course (also one of the hardest I've played though).  You can
  find more courses on the
  =link_to_tab('PDGA Course Directory','http://www.pdga.com/course_directory')
  (Yes, there is a Professional Disc Golf Association!).

