---
title: Farming
created_at: 2012-08-31
featured_image: /images/hobbies/farming/
landscape: true
techs:
  -
description: "The season of growing and harvesting does good for the soul.  I working an empty field with seed and compost/fertilizer, watching it faithfully grow, harvesting your crop, and finally having the reward of eating fresh food!"
keywords: [Andrews Family Farm, Garden, Family Housing]
---
=update(:first => true, :title => "Working at Andrew's Family Farm", :date => '2012-08-31')
%p
  In 2012 I first started going to 
  =succeed('.') do
    %a{:href => 'http://coloradocsas.info/csas/view/Andrews_Family_Farm'} Andrew's Family Farm
  It is a Community Shared Agriculture, or CSA, farm where people pay for a share of the farm over the entire season.  At Andrew's
  Family Farm you also have the option of getting a worker's share where you can help out at the farm each week.
%p
  Amy and I purchased a share from another farm last year but this year I decided to get my hands dirty and get a worker's share.
  It has been such a privilege.  The opportunity to experience the work that it takes to get food to the grocery store first hand
  and to have the satisfaction of doing that work has been one of those life experiences.
%p
  I wish I could say that I was there at the beginning of the season this year, but it really started nearly a year ago (there are
  so many tasks that needed to be done well ahead of planting if there is any hope to get everything done in the short months of
  Spring!).  However, I was able to be at the farm starting in March when we got to work planting the tiniest of seeds: Many seeds
  were supposed to be planted 1", 2", or 6" apart and planting a 50ft row of those is hard work!
%p
  During the mid season we started to get varieties of lettuce and a few small crops.  There was some harvesting but a lot of weeding,
  some more planting, and lots of spreading compost (did you know that hay is a pretty good, cheap compost? It really helps keep the 
  water in).  It was wonderful to start seeing green start sprouting up all over the place and know that our work in planting
  would soon be rewarded.
%p
  Now, during the middle of the harvest, I'm taking some of the rewards of farming for granted (we actually get overwhelmed sometimes
  by the amount of vegetables in the fridge).  It's more fun than work to go to the farm on some days where the harvested crops
  look so tasty that many of us are talking about recipes we want to try and tasty foods.
%p
  It's been a fun year (well, it's actually not over until October!) and I hope to make time for it again next year.  If you're
  interested in a CSA, check out
  %a{:href => 'http://coloradocsas.info'} ColoradoCSAs.info
  and maybe I'll see you out there.  Happy Farming!
